* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #f0f0f0;
}

button,
input,
span {
  font-family: inherit;
}

.header {
  background-image: url("bg.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 4.8rem 0;
}

.header h1 {
  font-size: 4.4rem;
  font-weight: normal;
  color: #fff;
}

.bold-text {
  font-weight: bold;
}

.board {
  width: 80%;
  max-width: 80rem;
  background-color: dodgerblue;
  margin: 0 auto;
  min-height: 35rem;
  display: flex;
  transform: translateY(-3rem);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.3);
}

.text {
  flex-grow: 2;
}

.text-input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 2rem;
  resize: none;
  font-size: 1.6rem;
}

.stats {
  background-color: #f0f0f0;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.stats div {
  border: 1px solid #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats p,
.stats h2 {
  text-align: center;
}

.stats p {
  font-weight: normal;
  text-transform: uppercase;
  color: #4b4b4b;
  margin-top: 3px;
}

.stats h2 {
  color: #222222;
  font-size: 2rem;
}

.footer {
  width: 80%;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #353535;
}

h2.limit-exceed {
  color: #cc183c;
}

@media (max-width: 500px) {
  .header {
    padding: 3.6rem 1.2rem;
  }
  .header h1 {
    font-size: 4rem;
  }

  .board {
    flex-direction: column;
    min-height: 45rem;
  }
  .text-input {
    display: block;
    flex-grow: 1;
  }
  .text {
    flex-grow: 3;
    background-color: red;
    display: flex;
    flex-direction: column;
  }

  .stats {
    flex-grow: 1;
  }
}
